/* Stylesheet useful for making HTML dashboards from Markdown documents 

.EXAMPLE:

Insert this HTML into the Markdown to make it style the HTML.

<link rel="stylesheet" href="dashboard.css" />

.EXAMPLE

Include this `div` tag to float panels to the right.

<div class=right>

## Markdown Section Here

> Lorum ipsum...

</div>
*/
body {
    color: white;
    background-color: #1e3877;
}
code {
    color: white;
}
pre {
    background-color: rgba(0, 122, 204, 0.5);
}
a {
  color: #9ab6d9;
  outline-style: dashed;
  outline-width: medium;
  padding: 1em;
}
h2 {
  background-color:black;
  border-radius: 0.5em;
  padding: 0.3em;
  padding-left:0.5em;
}
li {
  margin: 2em;
}
ul {
  list-style-type: none;
}

.right {
    float:right;
}
